.tile {
  --gap: 12px;
  --size: 87px;
  position: absolute;
  width: var(--size);
  height: var(--size);
  border-radius: inherit;
  animation: show 200ms ease-in-out;
  left: calc(var(--x) * (var(--size) + var(--gap)) + var(--gap));
  top: calc(var(--y) * (var(--size) + var(--gap)) + var(--gap));
  background: var(--image);
  background-size: cover;
}

@keyframes show {
  0% {
    opacity: 0;
  transform: scale(0);
}
}
